$primary: #24292e !default;
$primary-light: #4c5157 !default;
$primary-dark: #000004 !default;

$secondary: #d93025 !default;
$secondary-light: #ff674f !default;
$secondary-dark: #9f0000 !default;

$transition: all .18s cubic-bezier(.4, 0, .2, 1) !default;

$font-family-base: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif !default;
$font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

@import "reset";
@import "content";
@import "common";
