$primary: #24292e !default;
$primary-light: #4c5157 !default;
$primary-dark: #000004 !default;

$secondary: #d93025 !default;
$secondary-light: #ff674f !default;
$secondary-dark: #9f0000 !default;

$transition: all .18s cubic-bezier(.4, 0, .2, 1) !default;

$font-family-base: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif !default;
$font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

@import "reset";
@import "common";

// vditor
$borderColor: $primary-light !default;

$toolbarBg: $primary !default;
$toolbarIcon: $secondary-light !default;
$toolbarIconHover: $secondary !default;
$errorColor: $secondary !default;

$textareaBg: $primary !default;
$textareaColor: #fff !default;
$textareaFocusBg: $primary !default;

$tooltipColor: #fff !default;
$tooltipBg: $primary-light !default;

$resizeBg: $primary-light !default;
$resizeHoverBg: $secondary-light !default;

$layerBg: $primary-light !default;
$layerShadow: $secondary-light !default;
$hoverBg: $primary-dark !default;
$hoverColor: #fff !default;

$fullscreenBg: $primary-dark !default;
$previewBg: $primary-dark !default;

@import "../../../node_modules/vditor/src/assets/scss/tooltipped";
@import "../../../node_modules/vditor/src/assets/scss/panel";
@import "../../../node_modules/vditor/src/assets/scss/toolbar";
@import "../../../node_modules/vditor/src/assets/scss/content";
@import "../../../node_modules/vditor/src/assets/scss/hint";
@import "../../../node_modules/vditor/src/assets/scss/reset";

.vditor {
  margin-bottom: 16px;
  border-color: $primary-light;
  &-reset {
    color: #fff;
    a {
      color: #4285f4;
    }
    tr:hover {
      color: $primary-dark;
    }

    .language-mermaid {
      background-color: $secondary-light;
    }
  }
}
