.home {
  .username {
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .meta {
    align-self: flex-end;
  }

  #loading {
    position: absolute;
    left: 50%;
    top: 64px;
    margin-right: -130px;
  }

  .nav {
    margin: 16px 0 24px;
    border-bottom: 1px solid $primary-light;

    span {
      color: $primary-light;
      margin-right: 16px;
      padding: 16px 8px;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      display: inline-block;
      transition: $transition;

      &:hover {
        border-bottom-color: $primary-light;
      }

      &.current {
        color: #fff;
        font-weight: 600;
        border-bottom-color: $secondary-light;
      }

      &.last {
        color: #fff;
        font-weight: 600;
        float: right;
        &:hover {
          border-bottom-color: transparent;
          color: $secondary-light;
        }
      }
    }
  }

  .empty {
    color: #fff;
    text-align: center;
    list-style: none;
  }

  #commentList .comment__item:last-child {
    &:after {
      display: none;
    }
  }
}