@import "base";

.index {
  width: 760px;
  margin: 0 auto 50px;

  .input, .button {
    margin-bottom: 16px;
  }

  .item {
    padding: 16px 0;
    border-top: 1px solid $primary-light;
  }

  .avatar {
    height: 32px;
    width: 32px;
    border-radius: 3px;
    margin-right: 16px;
  }

  .name {
    color: #fff;
    font-weight: 600;
    margin-right: 6px;
    &:hover {
      text-decoration: none;
      color: $secondary-light;
    }
  }

  .time {
    font-size: 12px;
    color: $primary-light;
  }

  .content {
    border: 1px solid $primary-light;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    padding: 16px;
    margin-top: 16px;
    display: block;
    background-color: $primary;
    font-weight: 600;
    &:hover {
      text-decoration: none;
      color: $secondary;
      border-color: $secondary-light;
    }
  }
}