include ./common/header.pug
doctype html
html(lang='zh-cmn-Hans')
    head
        include ./common/head.pug
body
    div#title
    div#content
    div#user
    input#commentContent(placeholder='comment')
    button#commentBtn 发布
    ul#comments