include ./common/header.pug
+header()
div.detail.wrap
    div#title
    div.item.flex
        div#user
        div.module.flex1
            div.module__header#meta
            div#content.module__body.reset
    div#comments
    div.item.flex.item--add
        div#currentUser
        div.module.flex1
            div.module__header#currentUserName
            div.module__body
                div.clear
                    textarea.input#commentContent(placeholder='comment')
                    input.input#privateKey(placeholder='private key')
                    button.button.right#commentBtn Post
