include ./common/header.pug
+header('index')
div.index.wrap
    div.clear
        input.input#postTitle(placeholder='title')
        textarea.input#postContent(placeholder='content')
        input.input#privateKey(placeholder='private key')
        button.button.right#postBtn Post
    div
        ul#indexList