include ./common/header.pug
+header('index')
div.index.wrap
    div.clear
        input.input.input--space#postTitle(placeholder='title')
        textarea.input.input--space#postContent(placeholder='content')
        input.input.input--space#privateKey(placeholder='private key')
        button.button.button--space.right#postBtn Post
    div
        ul#indexList