include ./common/header.pug
+header('index')
div.index.wrap
    div
        input.input.input--space#postTitle(placeholder='帖子标题')
        div#postContent(placeholder='帖子正文')
        input.input.input--space#privateKey(placeholder='密钥对')
        div.clear
            button.button.button--space.right#postBtn 发布
            span.tip 请仔细检查，发布后不可更新
    div
        ul#indexList
