include ./common/header.pug
doctype html
html(lang='zh-cmn-Hans')
    head
        include ./common/head.pug
body
    a(href='init.html') Init &nbsp;
    a(href='home.html') Home
    br
    input#postTitle(placeholder='title')
    input#postContent(placeholder='link')
    button#postBtn 发布
    div
        ul#list