include ./common/header.pug
+header('index')
div.index.wrap
    div
        input.input.input--space#postTitle(placeholder='title')
        div#postContent(placeholder='content')
        input.input.input--space#privateKey(placeholder='private key')
        div.clear
            button.button.button--space.right#postBtn Post
            span.tip Please check carefully and cannot be modified after posting.
    div
        ul#indexList