include ./common/header.pug
+header('index')
input#postTitle(placeholder='title')
input#postContent(placeholder='link')
input#privateKey(placeholder='private key')
button#postBtn 发布
div
    ul#indexList