include ./common/header.pug
doctype html
html(lang='zh-cmn-Hans')
    head
        include ./common/head.pug
body
    a(href='/') Index &nbsp;
    a(href='home.html') Home
    div
        input#avatar(placeholder='avatar url')
        input#name(placeholder='name')
        button#init 开始使用