include ./common/header.pug
+header('setting')
div.setting.wrap.wrap--small
    img.avatar.avatar--big
    img.avatar
    img.avatar.avatar--small
    div.clear
        label.label 头像
        input.input.input--space#avatarPath(readonly='')
        label.label 昵称
        input.input.input--space#name()
        label.label 节点 ID
        input.input.input--space#id(readonly='')
        label.label 密钥对
        input.input.input--space#privateKey()
        button#start.button 确认
