include ./common/header.pug
+header('setting')
div.setting
    img#avatarImg.avatar
    input.input#avatarPath(placeholder='avatar')
    input.input#name(placeholder='name')
    input.input#id(readonly='')
    input.input#privateKey(placeholder='private key')
    button#start.button Confirm
    div #{config.detailId}