include ./common/header.pug
+header('setting')
div.setting.wrap.wrap--small
    img.avatar.avatar--big
    img.avatar
    img.avatar.avatar--small
    div.clear
        label.label Avatar hash
        input.input.input--space#avatarPath(readonly='')
        label.label Nickname
        input.input.input--space#name(placeholder='name')
        label.label Node id
        input.input.input--space#id(readonly='')
        label.label Private key
        input.input.input--space#privateKey()
        button#start.button Confirm