include ./common/header.pug
+header('setting')
div
    input#avatar(placeholder='avatar url')
    input#name(placeholder='name')
    input#privateKey(placeholder='private key')
    button#init 开始使用
    div #{config.detailId}