mixin header
    div.header.fn__flex
        div.logo
            a(href='/')
                h1 LOGO
        div.banner.fn__flex-1
            a.banner__title(href='/') 昆明智能配电站房管控平台
            div.header__navs
                block
            div
                div.banner__search
                div.banner__bell
                div.banner__email
                div.banner__name 字文林
                div.banner__split
                div.banner__time 上次登录时间2019-03-26
                a.banner__back(href='/')